.component-container {
    background: white;
}

.map-container {
    width:35%;
    left:5%;
    height:28vw;
    top:10%;
    position: absolute;    
    z-index:2;
    transition: left,width 0.5s ease;
}

.map-container.no-video {
    width:85%;
    transition: left,width 0.5s ease;
}
.map-container.fullscreen {
    opacity:0;
}
.map-container.fullscreen.no-video {
    opacity:1;
    left:0%;
    top:0%;
    width:95%;
    height:100%;
}

.ele-slider-container {
    left:42%;
    width:3%;
    top:10%;
    height:28vw;
    position: absolute;
    transition: left 0.5s ease;
}

.ele-slider-container.no-video {
    left:92%;
    transition: left 0.5s ease;
}

.ele-slider-container.fullscreen {
    left:97%;
    top:0%;
    height:100%;
    transition: left 0.5s ease;
}

.ele-slider {
    height:90%;    
    pointer-events: none;
}

:host ::ng-deep .ele-slider {
    .mat-slider-thumb-label 
    {
        transform: rotate(-45deg) !important;
        border-radius: 50% 50% 0 !important;
    }  
    .mat-slider-thumb 
    {
        transform: scale(0) !important;
    }  
    .mat-slider-thumb-label-text 
    {
        opacity: 1 !important;
    }
}    

.youtube-container {
    width:50%;
    right:5%;
    left:auto;
    height:28vw;
    top:10%;
    position: absolute;
}

.youtube-container.fullscreen {
    right:0%;
    top:0%;
    width:100%;
    height:100%;
}

.youtube-container.no-video {
    left:5%;
    right:auto;
    width:85%;
}

.youtube-container.video-ended {
    pointer-events: none;
}

youtube-player {
    opacity: 1;
}

youtube-player.no-video {
    opacity: 0;
}

.youtube-player2 {
    right:0;
    top:0;
    pointer-events: none;
    position: absolute;
}

.youtube-player-text {
    color: #eeeeee;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    z-index: 3; 
    position:absolute;
}

.mat-raised-button {
    height: 40px;
    padding: 0 5px;
}

.mat-toolbar {
    background: rgba(23,23,23,0.5);
    z-index: 3; 
    pointer-events:auto;
}

mat-select-trigger mat-icon {
    vertical-align: middle;
}

.pause-bar {
    width:100%;
    height:180px;
    z-index:2;
    position:absolute;
    background:black;
    bottom:0;
}

.pause-bar.playing {
    height:0px;
    transition: all 0.5s ease;
}

.pause-bar.no-video {
    background: rgba(23,23,23,0.5);
}

.links-bar {
    z-index: 3; 
    position:absolute;
    width:300px;
    height:300px;
    top:40%;
    color: #eeeeee;
    transition: all 0.5s ease;
    pointer-events: none;
}

.links-row {
    display:table-row;
}

.link-button {
    width: 56px; 
    margin-bottom:10px;
    z-index: 4;
    pointer-events:auto;
    background: rgba(0,0,0,0.1); 
}

.hide-links-bar {
    transform: scale(0);
    transition: all 0.5s ease;
}
